.navbar-brand{
    color:#FFF !important;
}
li.nav-item > a.menu_link_txt,.menu_link_txt{
    color:#FFF !important;
}
.welcome{
    margin: 0 120px 0 23px;
}
.welcome_txt{
    display: inline;
    color: #FFF;
    position: relative;
    top: 8px;
    font-weight: bold;
}
.last_log{
   display: block;
    font-weight: 200;
    font-size:12px;
}
.sesi{
    background-color: #ba031a;
    width: 90px;
    color: #FFF;
    height: 420px;
    border-radius:2px;
    position: relative;
    left: 125px;
    top: 42px;
    padding:0;
    color: rgba(255, 255, 255, 0.35);
}
.nomor{

    font-size: 99px;
    text-align: right;
    font-weight: bold;
    position: relative;
    right: -15px;
    top: -37px;
}
.judul_sesi{
    transform: rotate(270deg);
    font-weight: bold;
    font-size: 49px;
    width: 168px;
    line-height: 55px;
    position: relative;
    top: 137px;
    left: -38px;
}
.formulir {
    position: relative;
    top: 42px;
    left: 139px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}
.logo{
	width:47px;
	height:50px;
	background:url("../img/logo.png");
	position:relative;
	left:149px;
	margin-right: 45px;
}
.copyright{
	position: relative;
    left: 139px;
	line-height: 22px;
}
.dropdown-toggle::after{
    vertical-align:middle !important;
}
.home{
    background: url('../../img/home.svg');
    width:32px;
    height:32px;
    position: relative;
    top: 5px;
}
.menu{
    background-color: #fcfcfc;
    border-bottom: 1px solid #e4e4e4;
    height: 72px;
}
li.dropdown.jarak{
    margin-left:80px;
    height: 61px;
    position: relative;
    top: 7px;
}
.dropdown-menu.utama{
    top:58px;
}
li.dropdown.jarak.show{
    border-bottom: 3px solid #ba031a;
    height: 61px;
    position: relative;
    bottom: -5px;
}
.register{
    font-size: 1rem !important;
}
.reg-box{
    position: relative;
    top:42px;
    margin-bottom: 2%;
    font-size: 14px;
}
.jrk_dlm{
    padding: 4%;
}
.have_acc{
    font-size:12px;
}
.gndr{
    margin-bottom: 2%;
}