@font-face {
    font-family: SFUIMedium;
    src: url(../../fonts/SFUIDisplay-Medium.otf);
}
@font-face {
    font-family: SFUIReg;
    src: url(../../fonts/SFUIDisplay-Regular.otf);
}
body{
    font-family: SFUIReg;
}
.navbar-brand{
    color:#FFF !important;
}
li.nav-item > a.menu_link_txt,.menu_link_txt{
    color:#FFF !important;
}
.welcome{
    margin: 0 120px 0 23px;
}
.welcome_txt{
    display: inline;
    color: #FFF;
    position: relative;
    top: 8px;
    font-weight: bold;
}
.last_log{
   display: block;
    font-weight: 200;
    font-size:12px;
}
.sesi{
    background-color: #ba031a;
    width: 90px;
    color: #FFF;
    height: 420px;
    border-radius:2px;
    color: rgba(255, 255, 255, 0.35);
    padding: 0;

}
.sesi_pos{
          position: relative;
    top: 42px;
    padding: 0;
    width: 87%;
    left: 136px;
}
.nomor{

    font-size: 99px;
    text-align: right;
    font-weight: bold;
    position: relative;
    right: -15px;
    top: -37px;
}
.judul_sesi{
    transform: rotate(270deg);
    font-weight: bold;
    font-size: 49px;
    width: 168px;
    line-height: 55px;
    position: relative;
    top: 137px;
    left: -38px;
}
.formulir {
    position: relative;
/*     top: 42px;
    left: 139px; */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}
.logo{
	width:47px;
	height:50px;
	background:url("../img/logo.png");
	position:relative;
	left:149px;
	margin-right: 45px;
}
.logo_foot{
    width:47px;
    height:64px;
    background:url("../../img/logo_mini.png");
    position:relative;
    left:149px;
    margin-right: 45px;
    background-repeat: no-repeat;
}
.copyright{
	position: relative;
    left: 139px;
	line-height: 22px;
}
.dropdown-toggle::after{
    vertical-align:middle !important;
}
.home{
    background: url('../../img/home.svg');
    width:32px;
    height:32px;
    position: relative;
    top: 5px;
}
.menu{
    background-color: #fcfcfc;
    border-bottom: 1px solid #e4e4e4;
    height: 72px;
}
li.dropdown.jarak{
    margin-left:80px;
    height: 61px;
    position: relative;
    top: 7px;
}
.dropdown-menu.utama{
    top: 62px;
    border: none;
    left: -33px;
    width: 318px;
    height: 134px;
}
li.dropdown.jarak.show{
    border-bottom: 3px solid #ba031a;
    height: 61px;
    position: relative;
    bottom: -5px;

}
li.dropdown.jarak.show > a.nav-link{
    color:#ba031a;

}
.dropdown-menu.utama.show > a.dropdown-item{
    color:#909090 !important;
    padding-bottom:20px;
}
.dropdown-menu.utama.show > a.dropdown-item:hover{
    color:#ba031a !important;
    padding-bottom:20px;
}
.dropdown-menu.utama.show > a.dropdown-item:last-child{
    padding-bottom:0px;
}
.nav-item.active.home_menu{
    border-bottom:3px solid #ba031a;
}
.register{
    font-size: 1rem !important;
}
.reg-box{
    position: relative;
    top:42px;
    margin-bottom: 2%;
    font-size: 14px;
}
.jrk_dlm{
    padding: 4%;
}
.have_acc{
    font-size:12px;
}
.gndr{
    margin-bottom: 2%;
}
.copyright{
    position: relative;
    left: 50px;
    line-height: 22px;
    width: 300px;
}
.mt-logo{
    margin-top: 6%;
    margin-right: 0;
/*     margin-bottom: 2%; */
}
.fixed-bottom.foot{
    position:  absolute;
    bottom:  unset !important;

}
.title_reg{
    width:140px;
    font-size: 18px;
}
.jrk_logo{
    margin-bottom: 5%;
}
.thn{
    color:#ba031a;
    font-weight: bold;
    border-bottom: solid 2px #ba031a
}
.form-group {
    margin-bottom: 0.6rem !important;
    padding-bottom: 2px;
}
.form_reg  input[type="text"], input[type="password"], input[type="email"]{
   border-top:none;
   border-left:none;
   border-right: none;
   border-bottom: 2px dashed #D32F2F;
} 
.form_reg  input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus{
   outline: 0;
   border-bottom: 2px solid #2196F3;
   box-shadow: none
}
.logo_w{
    height:53px;
}
.dash_logo{
    white-space: unset;
    font-size:15px;
    width: 12%;
    display: inherit;

}
.logo_txt{
    margin-left:5%;
}
.thn_dash{
    font-weight: bold;
}
.logout_btn{
    width:50px;
    height:50px;
    margin-left:34%;
}
a.logout_btn:hover{
    text-decoration:none;
}
a.logout_btn:hover:after{
    content:"Keluar?";
    font-size: 14px;
    color:#FFF;
    position: relative;
    left: 15px;
    top: -8px;
    font-weight: bold;
}
.sambutan h1{
    font-size: 28px;
    color:#ba031a;
    font-family:SFUIMedium;
}
.sambutan p.subtitle{
    font-size: 18px;
    color:#ba031a;
    text-transform: capitalize;
    font-family:SFUIMedium;
    line-height: 1;
}
.grs_welcome{
    width: 45px;
    height: 3px;
    background-color: #ba031a;
    border-radius:1.5px;
}
.content_welcome{
    color: #909090;
    font-family:SFUIReg;
    width:572px;
    height:66px;
    text-align: justify;
    font-size:16px;
    margin-top:24px;
}
.btn_daftar{
    background-color:#ba031a !important;
    box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.1), inset 0 1px 0 1px rgba(255, 255, 255, 0.06);
    border-radius: 18px;
    width: 160px;
    margin-top:38px;
    /*margin-bottom:189px;*/
}
.btn_daftar:hover{
    background-color:#E53935 !important;
    box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.1), inset 0 1px 0 1px rgba(255, 255, 255, 0.06);
    border-radius: 18px;
    width: 160px;
    margin-top:38px;
}
.tgl_skrg{
    background-color: #ba031a;
    color:#FFF;
}
.tgl_nomer{
    font-family: SFUIMedium;
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
}
.today_txt{
    font-family: SFUIReg;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
}
.month_txt{
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
}
.card.tgl{
    border-radius: 4px;
    width: 318px;
    height: 351px;
    border: solid 1px #c4cdd5;
}
